@import '../../theme.css';
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#description {
  display: flex;
  flex-direction: column;
}

.description__container {
  display: flex;
}

.description__container img {
  width: 750px;
  height: 600px;
}

.description__container h2 {
  margin-top: 250px;
  margin-left: 70px;
}

.description__nav {
  align-self: center;
}

.description__nav-btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: var(--white);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-outline-primary {
  background-color: var(--primary) !important;
  border: none;
  font-size: var(--font-xl);
  margin-bottom: 40px;
}
